{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
  .addimage {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 700px;
    } 

    #addimage-form {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 500px;
    }

    label {
        display: block;
        margin-bottom: 8px;
    }

    input, textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 16px;
        box-sizing: border-box;
    }

    button {
        background-color: #333;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: #555;
    }
    body{
        margin-top:20px;
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;    
      }
      .main-body {
        padding: 15px;
      }
      .card {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
      }
      
      .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: .25rem;
      }
      
      .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
      }
      
      .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
      }
      
      .gutters-sm>.col, .gutters-sm>[class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
      }
      .mb-3, .my-3 {
        margin-bottom: 1rem!important;
      }
      
      .bg-gray-300 {
        background-color: #e2e8f0;
      }
      .h-100 {
        height: 100%!important;
      }
      .shadow-none {
        box-shadow: none!important;
      }
      h6{
        font-size:large
      }
      .leftlinkpanel {
          padding: 10px;
        }
        
        .leftlink {
            padding: 5px;
            border-bottom: 1px solid #ccc;
        }
        
        .leftlinkpanel {
            margin-top: 15px;
            border-radius: 10px;
        }
</style>


<div class="page-heading text-center">

    <div class="container zoomIn animated">   
        <h1 class="page-title"> ADD ORGANIZATION NEWS <span class="title-under"></span></h1>
    </div>
  
  </div><br>
<div class="container">
    <div class="col col-lg-4 col-xl-4">
        <div class="card leftlinkpanel">
          <a href="{% url "profile" %}" class="postporudtcs leftlink">Profile</a><a style="margin-top:-31.5px;margin-left: 250px;" href="{% url "update_organization" user.id %}" class=" myproducts leftlink"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
          </svg></a>
          <a href=" {% url "password" user.id %} " class="postporudtcs leftlink" >Change Password</a>
          <a href="{% url "add_image" organization.id %}" class="postporudtcs leftlink">Add images</a> 
          <a href="{% url "add_stories" organization.id %}" class="postporudtcs leftlink">Add Stories</a>
          <a href="{% url "add_news" organization.id %}" class="postporudtcs leftlink">Add News</a>
          <a href="{% url "add_goal" organization.id %}" class="postporudtcs leftlink">Add Goal</a>
          <a href="{% url "notificationorganization" organization.id %}" class=" myproducts leftlink">Notification</a>
        </div>
    </div>


    <h1 class="page-title" style="text-align: center;"> <b> ADD NEWS </b></h1>
    <div class="addimage" style="margin-top: -55px;">
        <form  method="post" enctype="multipart/form-data" id="addnews-form" style="margin-left: 125px;background-color: #fff;padding: 20px;border-radius: 20px;">
          <!-- <h1 class="page-title"> ADD NEWS </h1> -->
            {% csrf_token %}
        
            <label for="image">News Image:</label>
            
            <input type="file" id="addimage" name="Images" accept="image/*" required>
            
            <img id="add-image" src="{% static "images\white.jpeg  " %} " alt="Preview Image" style="width: 65%; height: 300px;border-radius: 10px; margin-left: 130px; ">
        
            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="3" maxlength="140" required></textarea>
            <input type='hidden' id="organization_id" name="organization_id" value={{organization.id}} required >
        
            <button type="submit" style="width: 760px;">Submit</button>
            <div id="popupsucess" class="alert alert-success successbox" style="display: none;">
                News added successfully
            </div>
            <div id="popup" class="alert alert-success successbox" style="display: none;">
                Error
            </div>
        </form>
    </div>
    {% if organizationnews %}
      <h2 class="title-style" style="text-align: center;">UPLOADED NEWS<span class="title-under"></span></h2>
      {% for news in organizationnews %}
        <div class="news-container" data-image-id="{{news.id}}">
          <div  class="col-md-4" style="height: 450px;  width: 350px;text-align: center;  padding: 20px; margin-left: 20px;">
            <div style="padding: 20px;border:1px solid rgb(67, 61, 255);height: 400px;border-radius: 5px;">
              <img src="{{news.image.url}}" alt="" style="width: 100%;height: 200px; border-radius: 5px;border: 1px solid black;margin-bottom: 10px;">
              <!-- <h1>News:</h1> -->
              <p style="margin: 0;font-size: 14px;line-height: 1.5;height: 120px;text-align: left;">{{news.description}}</p>
              <button  onclick='deleteNews("{{news.id}}")'>DELETE</button>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
    <br>
    
</div>
<div id="popupupdate" class="alert alert-success successbox" style="display:none;text-align: center;width:700px;margin-left:400px;">
  NEWS DELETED 
</div>
  
<br><br>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $('#addnews-form').on('submit', function (event) {
      event.preventDefault();
      var csrfToken = $('[name=csrfmiddlewaretoken]').val();
      var formData = new FormData(this);
      formData.append('csrfmiddlewaretoken', csrfToken);

      $.ajax({
        type: 'POST',
        url: '/save_news',
        data: formData,
        processData: false,
        contentType: false,
        success: function (data) {
          $('#popupsucess').show();

          setTimeout(function () {
            $('#popupsucess').hide();
            $('#add-image').hide();
            $('#addnews-form')[0].reset();
          }, 3000);
        },
        error: function (response) {
          $('#popup').show();
          setTimeout(function () {
            $('#popup').hide();
          }, 3000);
        }
      });
    });

    document.getElementById('addimage').addEventListener('change', function () {
      var input = this;

      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          document.getElementById('add-image').src = e.target.result;
          document.getElementById('add-image').style.display = 'block';
        };

        reader.readAsDataURL(input.files[0]);
      }
    });

    

    function deleteNews(newsId) {
      $.ajax({
        type: 'POST',
        url: '/delete_news/',
        data: { 'news_id': newsId, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
        success: function (data) {
          if (data.success) {
            $('div[data-image-id="' + newsId + '"]').remove();
            $('#popupupdate').show();
          setTimeout(function() {
            $('#popupupdate').hide();
          }, 4000);

          } else {
            console.log('Error:', data.error_message);
          }
        },
        error: function (error) {
          console.log(error);
        }
      });
    }
  </script>
{% endblock %}


