{% extends "base.html" %}
{% load static %}

{% block content %}
<style type="text/css">
    body {
        margin-top: 20px;
        color: #1a202c;
        text-align: left;
        background-color: #e2e8f0;
    }

    .main-body {
        padding: 15px;
    }

    .card {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0, 0, 0, .125);
        border-radius: .25rem;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
        transition: box-shadow .25s ease-in-out;
    }

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1rem;
    }

    .gutters-sm {
        margin-right: -8px;
        margin-left: -8px;
    }

    .gutters-sm > .col,
    .gutters-sm > [class*=col-] {
        padding-right: 8px;
        padding-left: 8px;
    }

    .mb-3,
    .my-3 {
        margin-bottom: 1rem !important;
    }

    .bg-gray-300 {
        background-color: #e2e8f0;
    }

    .h-100 {
        height: 100% !important;
    }

    .shadow-none {
        box-shadow: none !important;
    }

    h6 {
        font-size: large;
    }

    .leftlinkpanel {
        padding: 10px;
        border-radius: 10px;
    }

    .leftlink {
        padding: 5px;
        border-bottom: 1px solid #ccc;
    }

    .password-container {
        position: relative;
    }

    .eye-icon {
        margin-top: 125px;
        cursor: pointer;
    }
</style>

<div class="page-heading text-center">
    <div class="container zoomIn animated">
        <h1 class="page-title">CHANGE PASSWORD<span class="title-under"></span></h1>
    </div>
</div>
<br>
<div class="container">
    {% if donor %}
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xl-4" style=" margin-top: -15px; ">
                <div class="card leftlinkpanel">
                    <a href="{% url "profile" %}" class="postporudtcs leftlink">Profile</a><a style="margin-top:-31.5px;margin-left: 250px;" href="{% url 'update_donor' user.id %}" class=" myproducts leftlink"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg></a>
                    <a href="{% url 'password' user.id %}" class="postporudtcs leftlink">Change Password</a>
                    <a href="{% url 'notificationdonor' donor.id %}" class="postporudtcs leftlink">Notification</a>
                    <a href="{% url 'delete_account' user.id %}" class="postporudtcs leftlink">Delete Account</a>
                </div>
            </div>
        </div>
    </div>
    {% elif organization %}
    <div class="container">
        <div class="col col-lg-4 col-xl-4">
            <div class="card leftlinkpanel">
                <a href="{% url "profile" %}" class="postporudtcs leftlink">Profile</a><a style="margin-top:-31.5px;margin-left: 250px;" href="{% url "update_organization" user.id %}" class=" myproducts leftlink"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                  </svg></a>
                <a href=" {% url "password" user.id %} " class="postporudtcs leftlink">Change Password</a>
                <a href="{% url "add_image" organization.id %}" class="postporudtcs leftlink">Add images</a>
                <a href="{% url "add_stories" organization.id %}" class="postporudtcs leftlink">Add Stories</a>
                <a href="{% url "add_news" organization.id %}" class="postporudtcs leftlink">Add News</a>
                <a href="{% url "add_goal" organization.id %}" class="postporudtcs leftlink">Add Goal</a>
                <a href="{% url "notificationorganization" organization.id %}" class="myproducts leftlink">Notification</a>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="main-body" style="width: 1000px;margin-left: 15%;margin-top: -290px;border-radius: 50px;">
        <div class="col-lg-6" style="margin-left: 5%;margin-top: -5px;width: 700px;border-radius: 50px;background-color: #e2e8f0;">
            <div class="card">
                <div class="card-body">
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" style="font-size:30px;text-decoration: underline;">CHANGE PASSWORD</p><br>
                    <!-- change_password.html --><form id="change-password-form" method="post" enctype="multipart/form" style="text-align: center;">
                        {% csrf_token %}
                        <label for="old-password">Old Password:</label>
                        <input type="password" id="old-password" name="old_password" style="width: 245px;border-radius: 10px;height: 40px;" required>
                        <br><br>
                        <input type="hidden" class="form-control" name="username" value="{{users.username}}">
                        <label for="new-password">New Password:</label>
                        <input type="password" id="new-password" name="new_password" style="width: 245px;border-radius: 10px;height: 40px;" required>
                        <br><br>
                        <label for="confirm-password">Confirm Password:</label>
                        <input type="password" id="confirm-password" name="confirm_password" style="width: 220px;border-radius: 10px;height: 40px;" required>
                        <br><br><br>
                        <button type="button" id="change-password-btn" style="height: 40px;background-color: #31b0d5; color: #fff; border-radius: 10px; border-color: #269abc;">Change Password</button>
                    </form>
                    <br>
                    <div style="font-size: large;text-align: center;color: rgb(0, 255, 26);" id="change-password-message"></div>
                    <div style="font-size: large;text-align: center;color: red;" id="password-message"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        $('#change-password-btn').click(function () {
            var formData = $('#change-password-form').serialize();
            $.ajax({
                type: 'POST',
                url: '/change_password/', // Replace with your actual URL
                data: formData,
                success: function (response) {
                    console.log(response); // Log the response to the console

                    if (response.success) {
                        $('#change-password-message').text(response.message);
                        setTimeout(function () {
                            $('#change-password-message').text("");
                        }, 3000);
                    } else {
                        $('#password-message').text(response.message);
                        setTimeout(function () {
                            $('#password-message').text("");
                        }, 3000);
                    }
                },

            });
        });
    });
</script>
{% endblock %}